<div class="experts_banner">
    <h3 class="text-center">В выборе катушек Вам помогут наши эксперты:</h3>
    <div class="row row-eq-height">


        <a class="col-md-4 expert" href="/experts/expert?id=50">
            <div class="">
                <img src="/img/cache/expert_circles/5a/250x250/5a55d68b03019.jpg" class="img-circle center-block">
                <h3 class="text-center">Алексей Кипятков</h3>
                <div class="text-center">Специалист по анальной ебле</div>

            </div>
        </a><a class="col-md-4 expert" href="/experts/expert?id=50">
        <div class="">
            <img src="/img/cache/expert_circles/5a/250x250/5a55d68b03019.jpg" class="img-circle center-block">
            <h3 class="text-center">Алексей Кипятков</h3>
            <div class="text-center">Специалист по анальной ебле</div>

        </div>
    </a><a class="col-md-4 expert" href="/experts/expert?id=50">
        <div class="">
            <img src="/img/cache/expert_circles/5a/250x250/5a55d68b03019.jpg" class="img-circle center-block">
            <h3 class="text-center">Алексей Кипятков</h3>
            <div class="text-center">Специалист по анальной ебле</div>

        </div>
    </a>

    </div>

</div>